/* Imported Fonts */

  @font-face {
  font-family: 'Engravers Old English Bold';
  src: url('OPTIEngraversOldEnglishBold.woff2') format('woff2'),
       url('OPTIEngraversOldEnglishBold.woff') format('woff'),
       url('OPTIEngraversOldEnglishBold.otf') format('opentype');
  font-display: swap;

}


  @font-face {
    font-family: 'EngraversOldEnglishRegular';
    src: url('EngraversOldEnglishRegular.otf');

}


#ab-container.regular * {
    font-family: 'EngraversOldEnglishRegular'; 
        font-weight: normal;

}

#ab-container.bold * {
    font-family: 'Engravers Old English Bold'; 
      font-weight: bold;

}

#sizes.regular * {
    font-family: 'EngraversOldEnglishRegular'; 
    font-weight: normal;

}

#sizes.bold * {
    font-family: 'Engravers Old English Bold';
    font-weight: bold;
 
}


#bodytext.regular * {
    font-family: 'EngraversOldEnglishRegular'; 
    font-weight: normal;

}

#bodytext.bold * {
    font-family: 'Engravers Old English Bold';
    font-weight: bold;
 
}




  /* Menu */

.dropdown {
  width: 45px;
  height: 15px;
  z-index: 9999; 
  margin-top: 60px;
  margin-left: 1430px;
  position: absolute; 
  right: 0;
   top: 0;
}

.dropdown-content {
  position: absolute; 
  right: -50px;  
  top: 45px;
  min-width: 180px;
  background-color: #f9f9f9; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: none;
  z-index: 10000;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
 font-family: "EngraversOldEnglishRegular", serif;
   font-size: 12px;
}


#dropbtn {

  width: 85px;
  height: 45px;
  background-color: white;
  z-index: 7;
  z-index: 9998;
  margin-top: 0px;
  margin-left: -40px;
  position: absolute;
  border-color: black;
  border-radius: 13px;
 font-family: "EngraversOldEnglishRegular", serif;

}

.dropdown-content.show {
  display: block;
}

  /* Basic Elements */



  img {
    width: 100%;
    text-align: center;

  }

html {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto; 
    text-rendering: geometricPrecision;
}
  body {

    background-image: url('images/paperbg.jpeg'); 
      display: flex;
      justify-content: center;

  }

    p {

  font-size: 22px;
     text-indent: 130px; 
     text-align: justify;
     font-family: "Libre Baskerville", serif;
     font-weight: 400;
     font-style: normal;
     margin-bottom: 20px;
    }

    p::first-letter {

    font-size: 3em;
     font-family: 'EngraversOldEnglishRegular', sans-serif;

    }



  h1 { 
    color: black;
    font-size: 85px;
    font-family: 'Engravers Old English Bold', sans-serif;
    text-align: center;

    }

  .container { 
  max-width: 100%;

  }


   /* Hover Alphabet */  


   h2 { 
    color: black;
    font-size: 80px;
    font-family: 'EngraversOldEnglishRegular', sans-serif;
    text-align: center;
    }


 #line1 { 
position: absolute;
padding-top: 5px;



 }

 #line2 { 

position: absolute;
margin-top: 210px;


 }


 #line3 { 

position: absolute;
margin-top: 350px;

 }


  #line4 { 

position: absolute;
margin-top: 470px;

 }


  #line5 { 

position: absolute;
margin-top: 615px;

 }



 #line6 { 
position: absolute;
padding-top: 5px;
font-size: 100px;



 }

 #line7 { 

position: absolute;
margin-top: 290px;
font-size: 80px;

 }


 #line8 { 

position: absolute;
margin-top: 450px;
font-size: 60px;


 }


  #line9 { 

position: absolute;
margin-top: 580px;
font-size: 40px;

 }


  #line10 { 

position: absolute;
margin-top: 700px;
font-size: 20px;


 }



  #line11 { 

position: absolute;
margin-top: 1px;
font-size: 10px;


 }




  #line12 { 

position: absolute;
margin-top: 200px;
font-size: 20px;


 }




  #line13 { 

position: absolute;
margin-top: 400px;
font-size: 30px;


 }


  #line14 { 

position: absolute;
margin-top: 750px;
font-size: 40px;


 }



  #line15 { 

position: absolute;
margin-top: 1210px;
font-size: 50px;


 }



 #titles {
  width:100%; 
  float:down;
}

 #titles1 {
  width:100%; 
  float:down;
}


 #titles2 {
  width:100%; 
  float:down;

}


 #titles3 {
  width:100%; 
  float:down;

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


 
 #font {
   color: black;
   font-size: 9vw; 
  text-align: center;
   top: 14%; 
   left: 50%; 
   transform: translateX(-50%); 
   position: absolute;
   opacity: 0;
   animation: fadeIn 4s ease-in forwards;
   z-index: 2;
  }
  
  #font1 {
   color: black;
   font-size: 3vw; 
   text-decoration: underline overline;
   text-align: center;
   top: 60%; 
   left: 50%; 
   transform: translateX(-50%); 
   position: absolute;
   opacity: 0;
   animation: fadeIn 4s ease-in forwards;
   z-index: 2;
  }

  #font2 {
   color: black;
   font-size: 14vw; 
   top: 9%; 
   left: 50%; 
   transform: translateX(-50%); 
   position: absolute;
   opacity: 0;
   animation: fadeIn 4s ease-in forwards;
   z-index: 2;
   white-space: nowrap;


  }

  #font3 {
   color: black;
   font-size: 14vw; 
   font-family: 'Engravers Old English Bold', sans-serif;
   top: 38%; 
   left: 50%; 
   transform: translateX(-50%); 
   position: absolute;
   opacity: 0;
   animation: fadeIn 4s ease-in forwards;
   z-index: 2;
   white-space: nowrap;
      line-height: 55%;


  }

#font4 {
    color: blue;
   font-size: 14vw; 
   font-family: 'Engravers Old English Bold', sans-serif;
   top: 16%; 
   left: 50%; 
   transform: translateX(-50%); 
   position: absolute;
   opacity: 0;
   animation: fadeIn 4s ease-in forwards;
   z-index: 2;
   white-space: nowrap;
}




#font5 {
    color: black;
   font-size: 14vw; 
   font-family: 'Engravers Old English Bold', sans-serif;
   top: 9%; 
   left: 50%; 
   transform: translateX(-50%); 
   position: absolute;
   opacity: 0;
   animation: fadeIn 4s ease-in forwards;
   z-index: 2;
   white-space: wrap;
   line-height: 90%;
}

  

#bg {
  width: 100vw;
  background-image: url('images/paperbg.jpeg'); 
  background-size: cover;
  background-position: center;
  position: relative; 
  z-index: 1;
}

#bg1 {
  width:100%; 
  background-image: url('images/paperbg.jpeg'); 
  background-size: cover;
  background-position: center;
  position: relative; 
  z-index: 1;
}


#bg2 {
    position: relative;
   background-image: url('images/paperbg.jpeg'); 
  background-size: cover;
  background-position: center; 
   overflow: hidden; 
   min-height: 100vh; 
  width: 100%;

}


#bg3 {
  width:100%; 
  background-image: url('images/paperbg.jpeg'); 
  background-size: cover;
  background-position: center;
  position: relative; 
  z-index: 1;
}




  #para1 {
  width:100%; 
  background-image: url('images/paperbg.jpeg'); 
  background-size: cover;
  background-position: center;
  position: static; 
  margin-top: 1px;
  border-bottom: 4px solid lightgrey;
  height: 1320px; 


}

#para2 {
  width:100%;  
  height: 570px;
  border-bottom: 4px solid lightgrey;
  background-size: cover;
  background-position: center;
  position: static;
  background-image: url('images/paperbg.jpeg');
  margin-top: -55px;
  

}



#ab-container {
  width:100%;  
  margin-top: 172px; 
  height: 1000px; 
  position: static;
  border-bottom: 4px solid lightgrey;
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  padding: 50px 20px 20px 20px;
  align-items: flex-start; 
  flex-wrap: wrap; 
  cursor: pointer;
  color: black;
   background-size: cover;
  background-position: center;
  background-image: url('images/paperbg.jpeg'); 
}




#sizes {
  width:100%;  
  margin-top: 2px; 
  height: 1000px; 
  position: static;
  border-bottom: 4px solid lightgrey;
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  padding: 50px 20px 20px 20px;
  align-items: flex-start; 
  flex-wrap: wrap; 
  cursor: pointer;
  color: black;
   background-size: cover;
  background-position: center;
  background-image: url('images/paperbg.jpeg'); 
}




#bodytext {
  width:100%;  
  margin-top: 2px; 
  height: 2100px; 
  position: static;
  border-bottom: 4px solid lightgrey;
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  align-items: flex-start; 
  cursor: pointer;
  color: black;
   background-size: cover;
  background-position: center;
  background-image: url('images/paperbg.jpeg'); 
}




.regular {
   font-family: 'EngraversOldEnglishRegular', sans-serif;
  
}
.bold {
font-family: 'Engravers Old English Bold', sans-serif;  

}

#para3 {
   width:100%; 
  background-image: url('images/beigebg.jpeg'); 
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid lightgrey;
  z-index: 1;
  margin-top: -43px;
  padding-top: 85px;
  height: 2280px; 
  position: relative;


}


#para4 {
  width:100%;  
  margin-top: 2px;
  height: 1400px; 
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 4px solid lightgrey;
  background-size: cover;
  background-position: center;
  position: static;
  background-image: url('images/paperbg.jpeg'); 
}


 #alphabet {
  width: 45%; 
  max-width: 700px;
  height: auto; 
  border-style: solid;
}

 #alphabet1 {
  width: 45%; 
  max-width: 700px;
  height: auto; 
  border-style: solid;
}



#alphabet-container {
  display: flex; 
  justify-content: center; 
  gap: 20px; 
  padding: 50px 20px 20px 20px;
  align-items: flex-start; 
  flex-wrap: wrap; 
}

#carolingian1 {
  width:60%; 
}

#carolingian2 {
  width:64%; 
}

#textura1 {
  width: 41%; 
}

#textura2 {
  width:42%; 
}

#eg1 {
  width:43%; 
}

#eg2 {
  width:35%; 
}

 #nytimes {
 display: block; 
  width: 80%; 
  max-width: 800px; 
  height: auto;
  margin: 80px auto; 
  position: static; 
  mix-blend-mode: multiply;
}


 #wp {
 display: block;
  width: 80%;
  max-width: 800px; 
  height: auto;
  margin: 20px auto; 
  position: static; 
  mix-blend-mode: multiply;

}


 #latimes {
  display: block;
  width: 80%; 
  max-width: 800px;
  height: auto;
  margin: 80px auto;
  position: static; 
  mix-blend-mode: multiply;

}


div.scroll-container {
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  position: absolute;
  margin-top: 140px;
  height: 500px;
  border-style: solid;
  border-color: red;
  border-width: 5px;

}

div.scroll-container img {
  padding: 20px;

}

.three-column-layout {
  display: flex;
  justify-content: center; 
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0; 
}

.side-container {
  width: 20%; 
  height: auto; 
  border: 3px solid black;
  margin-left: 55px; 
  margin-right: 55px; 
  margin-top: 100px;
  background-image: url('images/pattern.png'); 
}

.scroll-container1 {
  width: 70%;
  max-width: 800px; 
  padding: 0 20px; 
  margin-top: 100px;
}


.scroll-container2 {
  width: 100%;
}



.scroll-container3 {
  width: 100%;
}



.scroll-container1 h1 {
  text-align: center;
}

.scroll-container1 p {
  text-indent: 0; 
    margin-bottom: 100px;
}

.scroll-container1 p::first-letter {
    float: left; 
    line-height: 1;
    margin-right: 0.1em;
    font-size: 3em;
}



#para3 p::first-letter {
    line-height: 1;
    margin-left: -100px;
    font-size: 6em; 
    border: 3px solid black; 
    display: block;
    position: absolute; 
    top: -50px; 
    background-color: blue;
}




#para3 p {
    font-size: 1.9em;
    line-height: 47px;
        font-family: "EngraversOldEnglishRegular", serif;  


}


.fade-in-text {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 0.10s ease-out, transform 0.10s ease-out;
}

@keyframes fade-up-on-scroll {
  from {
    opacity: 0;
    transform: translateY(20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0px); 
  }
}

.fade-in-text {
  animation: fade-up-on-scroll linear forwards; 
  animation-timeline: view(); 
  animation-range: entry 0% cover 30%; 
}


.scroll-container {

margin-top: 2000px;

}


#image-link-button {
  display: flex;
  justify-content: center; 
  align-items: center;  
  color: black; 
  font-family: "EngraversOldEnglishRegular", serif;
  font-size: 30px; 
  text-align: center;
  width: 600px;
  height: 200px; 
  background-image: url('images/decobutton.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; 
  position: relative;
  margin-left: 100px;
  opacity: 80%;
}


#image-link-button1 {
  display: flex;
  justify-content: center; 
  align-items: center;  
  color: black; 
  font-family: "EngraversOldEnglishRegular", serif;  
  font-size: 30px; 
  text-align: center;
  width: 600px;
  height: 200px; 
  background-image: url('images/decobutton.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; 
  position: absolute;
  margin-top: 1800px;
  left: 50%;  
 transform: translateX(-50%); 
}

#image-link-button2 {
  display: flex;
  justify-content: center; 
  align-items: center;  
  color: black; 
  font-family: "EngraversOldEnglishRegular", serif; 
  font-size: 30px; 
  text-align: center;
  width: 200px; 
  height: 190px;
  background-image: url('images/floralbutton.png'); 
  background-color: beige;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; 
    position: absolute;
    left: 50%;
   transform: translateX(-50%); 
    bottom: 9px; 
}


#image-link-button3 {
  display: flex;
  justify-content: center; 
  align-items: center;  
  color: black; 
  font-family: "EngraversOldEnglishRegular", serif; 
   font-size: 30px; 
  text-align: center;
  width: 600px;
  height: 200px; 
  background-image: url('images/decobutton.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; 
  position: absolute;
  margin-top: 750px;
  margin-left: 460px;
}



#image-link-button4 {
  display: flex;
  justify-content: center; 
  align-items: center;  
  color: black; 
  font-family: "EngraversOldEnglishRegular", serif; 
   font-size: 30px; 
  text-align: center;
  width: 600px;
  height: 200px; 
  background-image: url('images/decobutton.png'); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; 
  position: absolute;
  margin-top: 100px;
  left: 50%;  
 transform: translateX(-50%); 
}


#info {
  width: 55%;
  padding-left: 20%;
}




#info1 {
   padding-top: 70px;
  padding-right: 1300px;
  padding-bottom: 1300px;
  padding-left: 50px;
  position: absolute;
}




.line {
   width: 1vw; 
  height: 1.3vh; 
  background-color: black; 
  position: absolute;
  animation: drawLine 3s linear forwards;
  left: 25%;
   top: 47%;
   transform: skew(30deg,0deg);
 
}



.line1 {
   width: 1vw; 
  height: 1.3vh; 
  background-color: black; 
  position: absolute;
  left: 25%;
  top: 70%;
  animation: drawLine 3s linear forwards;
    transform: skew(30deg,0deg);
}



@keyframes drawLine {
  0% {
     width: 0; 
  }
  100% {
    width: 55%; 
  }

  }


.line2 {
  width:100%;  
  background-color: beige; 
  position: absolute;
  left: 1px;
  top: 3px;
  animation: drawCover 3s linear forwards;
  z-index: 1;


}


@keyframes drawCover {
    0% {
        height: 0;
    }

    100% {
        height: 100%; 
    }
}

#slidetitle {

display: flex;
flex-wrap: nowrap;
column-gap: 100px;
font-family: "EngraversOldEnglishRegular", serif; 
font-size: 40px;
}


#Caro {

position: absolute;
padding-left: 20%;

}



#Textu {


position: absolute;
padding-left: 85%;


}


#Engra {


position: absolute;
padding-left: 116%;


}




#mborder {

z-index: 5;
position: relative;

}

@supports (-webkit-appearance: none) {
 h1, #font, #font1, #font2, #font3, #font4, #font5 {
     -webkit-font-smoothing: none;
    text-rendering: auto;
    font-family: 'EngraversOldEnglishRegular'; 
        font-weight: normal;

  }
}
